# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
*.xcworkspace
!default.xcworkspace
DerivedData/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store

# SPM
/.build
/Packages
xcuserdata
DerivedData
.swiftpm

